<div class="header">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/customer?id={{cusID}}">Xem danh sách đối tác</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customer/{{cusID}}/orderList">Theo dõi đơn hàng</a>
    </li>
  </ul>
</div>
<div class="content m-3">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Mã Đơn Hàng</th>
      <th scope="col">Mã Đối Tác</th>
      <th scope="col">Mã Tài Xế</th>
      <th scope="col">Ngày Đặt</th>
      <th scope="col">Ngày Giao</th>
      <th scope="col">Địa Chỉ Giao</th>
      <th scope="col">Trạng Thái</th>
      <th scope="col">Tổng Tiền</th>
    </tr>
  </thead>
  <tbody>
    {{#each orderList}}
    <tr>
      <th scope="row">{{this.MADH}}</th>
      <td>{{this.MADT}}</td>
      <td>{{this.MATX}}</td>
      <td>{{this.NGAYDAT}}</td>
      <td>{{this.NGAYGIAO}}</td>
      <td>{{this.DIACHIGIAO}}</td>
      <td>{{this.TRANGTHAI}}</td>
      <td>{{this.TONGTIEN}} VND</td>
    {{/each}}
  </tbody>
</table>
</div>